.btn {
    color: black;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    background: white;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.hide-scroll-bar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none; 
}


.box-right {
    position: absolute;
    right: 0;
    top: 10;
    display: flex;
    justify-content: end;
    z-index: 0;
}
.box-right::after {
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    width: 60px;
    height: 100%;
    /* background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff 90%, #fff); */
    pointer-events: none;
    z-index: 0;
}
    
.box-left {
    position: absolute;
    left: 0;
    top: 10;
    display: flex;
    justify-content: start;
    z-index: 0;
}

.box-left::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    /* background: linear-gradient(270deg, hsla(0, 0%, 100%, 0) 0, #fff 90%, #fff); */
    pointer-events: none;
    z-index: 0;
}