.gradient {
  display: flex;
  position: absolute;
  top: -15px;
  right: -15px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 50px;
  background: linear-gradient(
    253.66deg,
    #ff65a6 12.88%,
    #b37ed3 50.05%,
    #5e64eb 88.76%
  );
  width: 30px;
  height: 30px;
  pointer-events: none;
  font-weight: 600;
}
