@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-no-arrow::-webkit-inner-spin-button,
.input-no-arrow::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.gradient-border-mask {
  position: relative;
  padding: 1.3rem;
}

.gradient-border-mask::before {
  position: absolute;
  opacity: 0;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  transition: opacity 0.2s ease-in-out;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 24px;
  background: linear-gradient(
      253.66deg,
      #b87e6a 12.88%,
      #6243bc 50.05%,
      #5156c6 88.76%
    )
    border-box;
  content: '';
}

.gradient-border-mask:hover::before {
  opacity: 1;
}

.skeleton-loader::before {
  display: block;
  content: '';

  @apply w-full opacity-[0.4] h-full  bg-gradient-to-r from-[#FFFFFF0D] via-[#FFFFFF02] to-[#FFFFFF0D];

  animation: loadingShine 1s infinite;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@keyframes loadingShine {
  0% {
    transform: translateX(-100%);
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(100%);
    opacity: 0.2;
  }
}


/* Custom Scrollbar Styling */

/* Hide scrollbar arrows in Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar-button {
  display: none; /* Hides the arrows/buttons */
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;          /* Thinner scrollbar */
  height: 8px;         /* Thinner horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #9CA3AF;    /* Customize scrollbar color */
  border-radius: 10px;          /* Rounded scrollbar edges */
  border: 2px solid transparent; /* Optional: Adds space around thumb */
  background-clip: content-box; /* Ensures border doesn't overlap thumb */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent scrollbar track */
  border-radius: 10px;
}

/* Firefox-specific scrollbar styles */
* {
  scrollbar-width: thin;                /* Makes scrollbar thinner in Firefox */
  scrollbar-color: #9CA3AF transparent; /* Custom thumb and track colors */
}

/* Hide scrollbar arrows in Firefox (limited support) */
*::-moz-scrollbar-button {
  display: none; /* Hides the arrows/buttons */
}

* {
  box-sizing: border-box;
}

