@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Add these classes to your globals.css */
body.light {
  background-color: white; /* Light background color */
  color: #000000; /* Light text color */
}

body.dark {
  background-color: #1a1f26; /* Dark background color */
  color: #ffffff; /* Dark text color */
}

.input-no-arrow::-webkit-inner-spin-button,
.input-no-arrow::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.gradient-border-mask {
  position: relative;
  padding: 1rem;
}

.gradient-border-mask::before {
  position: absolute;
  opacity: 0;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  transition: opacity 0.2s ease-in-out;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background: linear-gradient(
      253.66deg,
      #b87e6a 12.88%,
      #6243bc 50.05%,
      #5156c6 88.76%
    )
    border-box;
  content: '';
}

.gradient-border-mask:hover::before {
  opacity: 1;
}

.skeleton-loader::before {
  display: block;
  content: '';

  @apply w-full opacity-[0.4] h-full  bg-gradient-to-r from-[#FFFFFF0D] via-[#FFFFFF02] to-[#FFFFFF0D];

  animation: loadingShine 1s infinite;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@keyframes loadingShine {
  0% {
    transform: translateX(-100%);
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(100%);
    opacity: 0.2;
  }
}

/* Custom Scrollbar Styling */

/* Hide scrollbar arrows in Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar-button {
  display: none; /* Hides the arrows/buttons */
}

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 10px; /* Thinner scrollbar */
  height: 10px; /* Thinner horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent; /* Optional: Adds space around thumb */
  border-radius: 10px; /* Rounded scrollbar edges */
  background-clip: content-box; /* Ensures border doesn't overlap thumb */
  background-color: #9ca3af; /* Customize scrollbar color */
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent; /* Transparent scrollbar track */
}

body {
  scrollbar-width: 2px; /* Custom scrollbar width */
}
/* Hide scrollbar arrows in Firefox (limited support) */
*::-moz-scrollbar-button {
  display: none; /* Hides the arrows/buttons */
}

* {
  box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Tooltip container */
.tooltip-container {
  display: inline-block;
  position: relative;
}

/* Tooltip text */
.tooltip-text {
  position: absolute;
  bottom: 150%; /* Position above the element */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind's shadow-lg */
  border-radius: 8px;
  background-color: rgba(
    17,
    24,
    39,
    0.9
  ); /* Tailwind's bg-gray-900 with 90% opacity */
  padding: 8px;
  width: max-content;
  color: #fff;
  font-weight: normal;
  font-size: 0.875rem; /* Tailwind's text-sm */
  text-align: center;
  white-space: nowrap;
}

/* Tooltip arrow */
.tooltip-text::after {
  position: absolute;
  top: 100%; /* Arrow at the bottom of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(17, 24, 39, 0.9) transparent transparent transparent;
  content: '';
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
